.pres {
    width: 50%;
    margin-left: 300px;
}

.ayuda {
    color: white;
    background-color: #0b4147;
    width: 25%;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}