.formulario {
    width: 52%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color:#0b4146;
    color:white;
}

.titulo {
    font-family: Arial; 
    font-size: 20px;  
    color:white;
}