.comp {
    background-color: #0b4146;
    margin: 50px;
    margin-left: 13%;
    padding: 50px;
    width: 75%;
    border-radius: 10px;
}

.comp_cuen {
    background-color: #0b4147;
    margin: 50px;
    margin-left: 13%;
    padding: 50px;
    padding-bottom: 100px;
    width: 75%;
    border-radius: 10px;
}

.tarj {
    margin-left: 45%;
}

.tar {
    color: white;
}

.sig {
    color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.ultimo {
    padding-left: 50%;
}